@charset "UTF-8";

.information {
	padding-top:30px;
	clear:right;
	color: #012e5e;
	
	
}

.skills {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	color: #012e5e;
	clear:left;
	
}

.contacts {
	color: #012e5e;
}

P {
	clear:right;
	color: #012e5e;
}

body {
	background-color: #012e5e;
	margin-top:100px;
	margin-bottom:150px;
	margin-left:0;
	margin-right:0;
	
}
.img1 {
	margin-top:20px;
	padding:5px;
	margin-right:8px;
  	width:30%;
 	background-color: orange;
 	float:left;
 	display:block;
 	
 
 	
 	
}

.container1 {
	background-color: #ccc;
	height: 100%; 
	width:100%;
	float:left;
	margin-bottom: 150px;
	
	
}

.h3left {
	text-align:left;
	float: left;
	
}

.h3right {
	float:right;
	text-align:right
}



.container2 {
	background-color: #ffffff;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	border-radius: 10px;

}

.container3 {
	text-align:left;
	float: left;
	
}

.container4 {
	clear:right;
	text-align:right;
	display:inline-block;
	width:50%;
}

.hr1 {
  background: linear-gradient(90deg, #012e5e 30%, yellow 30%);
  height: 5px;
}
  
  

.hr2 {
  background: linear-gradient(90deg, #012e5e 40%, yellow 30%);
  height: 5px;
}

.hr3 {
  background: linear-gradient(90deg, #012e5e 80%, yellow 30%);
  height: 5px;
}

.hr4 {
  background: linear-gradient(90deg, #012e5e 10%, yellow 30%);
  height: 5px;
}

.hr5 {
  background: linear-gradient(90deg, #012e5e 5%, yellow 30%);
  height: 5px;
}

.hr6 {
  background: linear-gradient(90deg, #012e5e 20%, yellow 30%);
  height: 5px;
}

.hr7 {
  background: linear-gradient(90deg, #012e5e 15%, yellow 30%);
  height: 5px;
}